.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.home__app {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  margin: 0px auto;
  flex: 1;
}

.home__left {
  flex: 0.2;
  overflow: auto;
  background: #f5f5f5;
}

.home__left > h1,
.home__right > h1,
.home__center > h1 {
  background: white;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
  font-weight: 500;
  color: cornflowerblue;
  position: sticky;
  top: 0;
  z-index: 10;
}

.home__right {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  overflow: auto;
}

.home__center__header {
  background: #f5f5f5;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
  font-weight: 500;
  color: cornflowerblue;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.home__center__header > h1 {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
}
.home__right > h1 {
  background: white;
}

.home__center {
  flex: 0.7;
  margin-right: 3px;
  overflow: auto;
  background: white;
}

.home__center__search {
  display: flex;
  flex: 1;
  border: 1px solid lightblue;
  padding: 5px 10px;
  margin: 0px 10px;
  border-radius: 10px;
  background-color: inherit !important;
}
.home__center__search > input {
  outline: none;
  flex: 1;
  border: none;
  background-color: inherit !important;
}
.home__center__search:focus-within {
  border-color: cornflowerblue;
}
