.login {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}
.login__app {
  display: flex;
  width: 100%;
  margin: 0px auto;
  max-width: 1000px;
  padding: 20px;
}
.login__app > form {
  width: 100%;
  height: 100%;
  margin: auto;
  max-width: 500px;
  max-height: 500px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__app > form > h1 {
  font-size: 0.95rem;
  font-weight: 500;
  user-select: none;
  text-align: end;
  margin-bottom: 20px;
  font-size: 1rem;
  font-family: 500;
  background-image: linear-gradient(to right, cornflowerblue, black);
  background-clip: text;
  color: transparent;
}
.login__app > form > button {
  width: 90%;
  border-radius: 999px;
  margin: 20px 0;
  outline: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: all 1s ease;
  max-width: 300px;
}
.login__app > form > button:hover {
  background: black;
  color: white;
}
.login__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login__left > h1 {
  display: flex;
  align-items: center;
}
.login__left__icon {
  color: cornflowerblue;
}

.login__error {
  color: red;
  font-size: 0.8rem;
}
.login__app > form > input {
  width: 100%;
  padding: 5px 10px;
  margin: 10px;
  outline: none;
  border: 0.5px solid lightblue;
  border-radius: 10px;
  max-width: 300px;
}
.login__app > form > label {
  display: flex;
  align-items: center;
  align-self: center;
  max-width: 300px;
}
.login__app > form > label > p {
  margin-left: 10px;
}
.login__app > form > input:focus-within {
  border: 0.5px solid cornflowerblue;
}

.login__app > form > a {
  text-decoration: none;
  color: cornflowerblue !important;
}
@media only screen and (max-width: 600px) {
  .login__app {
    flex-direction: column !important;
  }
}
